.vs__dropdown-toggle {
  height: 2.5rem !important;
  width: 100% !important;
  border-radius: 0.5rem !important;
  border-width: 1px !important;
  border-color: rgb(var(--fk-border-color)) !important;
  background-color: white !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}
